.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  background: transparent;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
  z-index: 999;
  color: aquamarine;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.25rem 2rem;
  max-width: 95%;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  color: #c72222;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}
.logo-H{
  background: linear-gradient(270deg,
  #a16306 10%,
  #b8140f 100%
  );
  background-clip: text;
  color: transparent;
}
/* .logo-pic {
  width: 100px;
  size: ;
} */

.nav-menu {
  display: flex;
  text-align: center;
  gap: 1.5rem;
  list-style: none;
}

.nav-container .nav-menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 3px 20px;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: all 0.7s ease;
  white-space: nowrap;
}

.nav-container .nav-menu li a:hover,
.nav-container .nav-menu li a.active {
  color: #162530;
  background: rgba(188,212,229,0.8);
  border: 2px solid #fff;

}

.nav-toggle {
  display: none;
  background: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: #fff;
  transition: all 0.3s ease-in-out;
}

/* Fix Position */
#Home {
  scroll-margin-top: 999999px;
}

#Information {
  scroll-margin-top: 250px;
}



/* reponsive */
@media (max-width: 1295px) {
  .nav {
    backdrop-filter: none;
  }

  .nav-container .nav-menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.7rem !important;
    position: absolute;
    height: 100vh;
    width: 250px;
    top: 0;
    right: 0;
    padding: 5rem 1.5rem;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
  }
  .nav-container .nav-menu.active {
    display: flex;
  }
  .nav-toggle {
    display: block;
    z-index: 999;
  }

  .nav-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .nav-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .nav-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media (max-width: 480px) {
  .nav-container {
    padding: 0 1rem;
  }

  .logo {
    font-size: 1.7rem;
  }
  
  .nav-container .nav-menu li a {
    font-size: 1.2rem;
    padding: 3px 15px;
  }
}

.nav-container .nav-menu li a.active {
  color: #162530;
  background: rgba(188,212,229,0.8);
  border: 2px solid #fff;
}
